// main.scss

@import 'modules/default-container';
@import 'modules/game-board';

$nice-margin: 2rem;

.title {
  margin: $nice-margin 0 $nice-margin 0;
}

footer {
  margin: $nice-margin/2 0 $nice-margin/2 0;
}