// _game-board.scss
// styles a dynamically sized game-board

$border: 1px solid #000;
$square-side: 3rem;
$alive-background: #d3d3d3;

.board {
  display: flex;
  flex-direction: column;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.board-square__dead, .board-square__alive {
  height: $square-side;
  width: $square-side;
  border: $border;
}

.board-square__alive {
  background: $alive-background
}